.theme-two .drawer {
    border: 1px solid;
    border-top: none;
}

.theme-two .drawer:first-child {
    border-top: 1px solid;
}

.theme-two .accordion-header {
    cursor: pointer;
    padding: 0 15px;
    position: relative;
}

.theme-two .accordion-header .accordion-title {
    margin: 0;
    padding: 15px 0;
}

.theme-two .accordion-content {
    display: none;
    border-top: none;
    padding: 15px;
}

.theme-two .accordion-content p {
    margin: 0;
    margin-bottom: 3px;
}

.theme-two .accordion-header-icon {
    font-family: Helvetica;
    font-size: 35px;
    line-height: .6em;
    height: 35px;
    right: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 35px;
}

.theme-two .accordion-header-icon

[dir='rtl'] .theme-two .accordion-header-icon {
    right: auto;
    left: 20px;
}

.theme-two .accordion-header-icon.accordion-header-icon-active {
    -webkit-transform: rotate(-90deg) translateX(50%);
    -ms-transform: rotate(-90deg) translateX(50%);
    transform: rotate(-90deg) translateX(50%);
}

.theme-two .accordion-header-icon:not(.accordion-header-icon-active) {
    -webkit-transform: rotate(90deg) translateX(-50%);
    -ms-transform: rotate(90deg) translateX(-50%);
    transform: rotate(90deg) translateX(-50%);
}
